<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}

  <!-- DEV TOOLS START -->
  {{- partial "dev/dev-tools.html" . -}}
  <!-- DEV TOOLS END -->

  <body
    class="relative flex min-h-dvh flex-col bg-neutral-100 font-sans text-neutral-800 sm:min-h-screen"
  >
    <!-- BACKGROUND START -->
    <div
      class="absolute inset-0 -z-50 h-full w-full bg-neutral-100 bg-[linear-gradient(to_right,#ececec_1px,transparent_1px),linear-gradient(to_bottom,#ececec_1px,transparent_1px)] bg-[size:6rem_4rem]"
    >
      <!-- GRADIENT #1 -->
      <div
        class="absolute top-0 right-0 bottom-0 left-0 bg-[radial-gradient(circle_400px_at_100%_100px,#c5fffb,transparent)] md:bg-[radial-gradient(circle_600px_at_100%_150px,#c5fffb,transparent)] lg:bg-[radial-gradient(circle_800px_at_100%_200px,#c5fffb,transparent)]"
      ></div>
    </div>
    <!-- BACKGROUND END -->

    <!-- HEADER START -->
    {{- partial "header.html" . -}}
    <!-- HEADER END -->

    <!-- MAIN START -->
    <main class="container mx-auto mt-44 w-full grow px-8 xl:mt-40">
      {{- block "main" . }}{{- end }}
    </main>
    <!-- MAIN END -->

    <!-- FOOTER START -->
    {{- partial "footer.html" . -}}
    <!-- FOOTER END -->

    <!-- GRADIENT #2 -->
    <div
      class="absolute bottom-0 left-0 -z-40 h-full w-full bg-[radial-gradient(circle_300px_at_-5%_1200px,#FFC5C9,transparent)] md:bg-[radial-gradient(circle_500px_at_-5%_1200px,#FFC5C9,transparent)] xl:bg-[radial-gradient(circle_700px_at_-5%_1200px,#FFC5C9,transparent)]"
    ></div>

    <!-- GRADIENT #3 -->
    <div
      class="absolute bottom-0 left-0 -z-40 h-full w-full bg-[radial-gradient(circle_300px_at_80%_100%,#c0f0f0,transparent)] md:bg-[radial-gradient(circle_400px_at_80%_100%,#c0f0f0,transparent)] xl:bg-[radial-gradient(circle_500px_at_80%_100%,#c0f0f0,transparent)]"
    ></div>
  </body>
</html>
